body {
    margin: 0;
    padding: 0;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/background.jpg); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.popup-container {
    position: fixed;
    border-radius: 10px;
    top: 20px;
    right: 20px;
    background-color: rgb(238, 206, 137, 0.9);
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none
}

h1 {
    margin-bottom: 20px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    color: #8b4513;
    margin-bottom: 20px;
    position: relative;
    display: inline-block; /* Hacer que el contorno se ajuste al tamaño del texto */
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1::before {
    -webkit-text-stroke: 2px #8b4513; /* Borde marrón oscuro */
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; /* Sombras para suavizar el borde */
}

h1::after {
    color: #8b4513;
    z-index: -2;
}

.button {
    background-color: #8b4513;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a0522d;
}

.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

#startButton {
        font-size: 20px;
}

#gameBoxContainer {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
    border: 4px solid #8b4513;
    border-radius: 10px;
}

.gameBox {
    width: 100%;
    height: 100%;
}

#portraitBox {
    background-image: url(img/portrait.jpg); /* Ruta de tu imagen para el cuadro del número */
    background-size: cover;
    background-position: center;
}

#portraitBox .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#questionBox {
    background-color: white;
    border-left: 4px solid #8b4513;
    height: 100%;
    width: 100%;
}

#questionBox .content {
    font-size: 16px;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#questionText {
    line-height: 1.5;
    text-align: justify;
}

#optionBox {
    width: 100%;
}

#optionBox label {
    display: flex;
    align-items: center;
    width: 100%;
}

#optionBox input {
    margin-right: 5px;
}

#optionBox label:hover {
    cursor: pointer;
}

#gameButtonBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#gameButtonBox button {
    margin: 5px;
}

#questionNumber {
    font-size: 72px;
    margin: 0;
    color: #8b4513;
    padding: 20px;
    border-radius: 10px;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; /* Sombras para suavizar el borde */
}

.slide {
    animation: growAnimation 1.5s ease forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

.fade-away {
    opacity: 1;
    animation: fadeAwayAnimation 1.5s ease-in-out forwards;
}

.animation {
    animation: growAnimation 1.5s ease forwards;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

/* Ajustes para diferentes tipos de pantalla (tamaño).  */

@media only screen and (min-width: 2560px) {
    #questionBox .content {
        font-size: 40px;
    }

    #gameButtonBox button {
        font-size: 40px;
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 1440px) {
    #questionBox .content {
        font-size: 16px;
    }

    #gameButtonBox button {
        font-size: 14px;
        padding: 15px 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #questionBox .content {
        font-size: 14px;
    }

    #gameButtonBox button {
        font-size: 10px;
        padding: 12px 20px;
    }
}

@media only screen and (max-width:760px) {

    h1 {
        font-size: 38px;
    }

    .animation {
        animation: fadeInAnimation 1s ease-in-out forwards;
    }

    #gameBoxContainer {
        background-image: url(img/portrait.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #portraitBox {
        display: none;
    }

    #questionBox {
        border-left: 0;
    }

    #questionBox .content {
        font-size: 12px;
    }

    #gameButtonBox {
        flex-direction: column;
    }

    #gameButtonBox button {
        margin: 5px 0;
    }

    #gameButtonBox button {
        font-size: 10px;
        padding: 8px 20px;
    }
}

@media only screen and (max-width:425px) {
    h1 {
        font-size: 28px;
    }
}

/* Efectos personalizados */

@keyframes growAnimation {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        height: auto;
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeAwayAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


