body {
    margin: 0;
    padding: 0;
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(img/background.jpg); /* Ruta de tu imagen de fondo */
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.popup-container {
    position: fixed;
    border-radius: 10px;
    top: 20px;
    right: 20px;
    background-color: rgb(238, 206, 137, 0.9);
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    -webkit-text-stroke: 2px #8b4513; /* Borde marrón oscuro */
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; /* Sombras para suavizar el borde */
    color: #8b4513;
    position: relative;
    display: inline-block; /* Hacer que el contorno se ajuste al tamaño del texto */
}

button {
    background-color: #8b4513;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0522d;
}

#startButton {
    font-size: 20px;
}

#questionBox {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

#questionBox .content {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}

#questionText {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

#optionBox {
    width: 100%;
}

#optionBox label {
    font-size: 16px;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 12px 5px;
    margin: 15px 0;
    width: 100%;
}

#optionBox input {
    margin-right: 10px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}

#optionBox label:hover {
    cursor: pointer;
}

#questionNumber {
    font-size: 72px;
    margin: 0;
    color: #8b4513;
    padding: 20px;
    border-radius: 10px;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; /* Sombras para suavizar el borde */
}

.slide {
    animation: growAnimation 1.5s ease forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

.fade-away {
    opacity: 1;
    animation: fadeAwayAnimation 1.5s ease-in-out forwards;
}

.animation {
    animation: growAnimation 1.5s ease forwards;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

/* Ajustes para diferentes tipos de pantalla (tamaño).  */

@media only screen and (min-width: 2560px) {
    #questionBox .content {
        font-size: 40px;
    }

    #gameButtonBox button {
        font-size: 40px;
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 1440px) {
    #questionBox .content {
        font-size: 16px;
    }

    #gameButtonBox button {
        font-size: 14px;
        padding: 15px 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #questionBox .content {
        font-size: 14px;
    }

    #gameButtonBox button {
        font-size: 10px;
        padding: 12px 20px;
    }
}

@media only screen and (max-width:760px) {

    h1 {
        font-size: 38px;
    }

    .animation {
        animation: fadeInAnimation 1s ease-in-out forwards;
    }

    #portraitBox {
        display: none;
    }

    #questionBox {
        border-left: 0;
    }
}

@media only screen and (max-width:425px) {
    h1 {
        font-size: 28px;
    }
}

/* Efectos personalizados */

@keyframes growAnimation {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        height: auto;
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeAwayAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


